<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.devlog.mapper.ReplyMapper">

	<insert id="insert">

		insert into kboard_reply (rno, bno, reply, replyer)
		values (seq_kboard_reply.nextval, #{bno}, #{reply}, #{replyer})

	</insert>

	<select id="read" resultType="org.devlog.domain.ReplyVO">

		select * from kboard_reply where rno = #{rno}

	</select>


	<delete id="delete">

		delete from kboard_reply where rno = #{rno}

	</delete>

	<update id="update">

		update kboard_reply set reply = #{reply},
								updatedate = sysdate+9/24 
		where rno = #{rno}

	</update>


<!-- 	<select id="getListWithPaging"
		resultType="org.devlog.domain.ReplyVO">

		select rno, bno, reply, replyer, replyDate, updatedate
		from tbl_reply
		where bno = #{bno}
		order by rno asc

	</select -->

<select id="getListWithPaging" resultType="org.devlog.domain.ReplyVO">

  <![CDATA[
 select  rno, bno, reply, replyer, replydate, updatedate
 from 
   (
    select /*+INDEX(kboard_reply idx_reply) */ 
      rownum rn,  rno, bno, reply, replyer, replyDate, updatedate
    from kboard_reply
    where bno =  #{bno}
    and rno > 0
    and rownum <= #{cri.pageNum} * #{cri.amount}
   ) where rn > (#{cri.pageNum} -1) * #{cri.amount}
]]>

</select>


<select id="getCountByBno" resultType="int">
<![CDATA[
select count(rno) from kboard_reply where bno = #{bno}
]]>
</select>


</mapper>
