@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);

*:focus{
outline : none;
}
/*a 태그 밑줄 삭제*/
a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover { text-decoration: none;}

span{
	text-decoration : none;
}

h1, h2, h3, h4{
    font-family: 'Jeju Gothic';
}

body{
    font-family: 'Nanum Gothic';
}


/*실질적인 각 내비게이션 메뉴들의 색상을 정의*/
#sidebar .list-group-item{
    background-color: #333333;
    color:#acacac;
    border-color:#1c1c1c;
    border-left:0;
    border-right:0;
    border-radius:0;
    white-space:nowrap;
}

/*내비게이션을 아래 끝까지 나열*/
#sidebar .list-group{
    background-color: #333333;
    min-height : 100vh;
}

/*메뉴를 선택했을 때 부모 요소의 색상을 변경*/
#sidebar .list-group .list-group-item[aria-expanded="true"]{
    background-color: #1c1c1c;
}

/*메뉴를 선택했을 때 자식 요소의 색상을 변경*/
#sidebar .list-group .list-group-item:not(.collapsed){
    background-color: #1c1c1c;
}

/*부가 설정*/
#sidebar{
    overflow : hidden;
    z-index: 2;
}

@media(max-width:768px){
    /*작은 화면에서는 왼쪽 네비 크기를 정해진 크기로 설정*/
    #sidebar{
        min-width:35px;
        max-width:40px;
        overflow-y:auto;
        overflow-x:visible;
        transition: all 0.25s ease;
        transform : translateX(0px);
        position:fixed;
    }
    /*작은 화면에서 서브 메뉴를 열었을 때 글자가 보이도록 한다.*/
    #sidebar, #sidebar .list-group{
        min-width : 35px;
        overflow: visible;
    }
    #sidebar .list-group .collapse.show, #sidebar .list-group .collapsing{
        position : relative;
        z-index : 1;
        width : 190px;
        top : 0;
    }
    /*작아졌을 때 아이콘을 가운데 정렬*/
    #sidebar .list-group > .list-group-item{
        text-align: center;
        padding: .75rem .5rem;
    }
    #siderbar::-webkit-scrollbar{ width:0px; }
}

#main{
    height:100vh;
    overflow-y:scroll;
}
/*작은 화면에서 왼쪽 내비의 크기를 정해진 크기로 설정한다.*/
@media(max-width:768px){
    #main{
        margin-left:38px;
    }
}

/*너비가 560px 미만일 때*/
@media(max-width:610px){
    .mobile{
        display:none;
    }
}

.boardTitle{
    background-color : #efefef;
    padding: 6px;
}
.boardContent{
    background-color : #efefef;
    padding: 6px;
    height: 320px;
    overflow-y: scroll;
}

